:root {
  --media-breakpoint: 800px;
  --font-colour: #6d6464;
}

body,
body * {
  box-sizing: border-box;
}

body,
.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

p:not(.slogan),
.left,
.icon,
.icon-list,
.right,
.mainInfo {
  width: auto;
}

a {
  color: var(--font-colour);
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

@media all and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.container .left-wrap {
  flex: 2;
  filter: drop-shadow(15px 0px 10px rgba(50, 50, 0, 0.5));
}

@media all and (max-width: 800px) {
  .container .left-wrap {
    height: 20vh;
  }
}

.container .left {
  height: 100%;
  background-image: url(../img/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, calc(100% - 20vmin) 100%, 0% 100%);
}

@media all and (max-width: 800px) {
  .container .left-wrap .left {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vmin), 0% 100%);
  }
}

.container .right {
  flex: 3;
  align-self: center;
  padding-right: 3em;
  text-align: center;
}

@media all and (max-width: 800px) {
  .container .right {
    height: 50vh;
    padding: 0;
  }
}



@media all and (max-width: 800px) {
  .container .right .mainInfo {
    text-align: center;
  }
}


.container .right .mainInfo img {
  width: 100%;
}

.container .right .mainInfo .slogan {
  margin-top: 1.5em;
  color: var(--font-colour);
}

@media all and (max-width: 800px) {
  .container .right .mainInfo .slogan {
    width: auto;
  }
}

.container .right .icon-list {
  list-style: none;
  display: flex;
  justify-content: center;
}


.container .right .icon-list .icon {
  margin-right: 1em;
  font-size: 1.5em;
}

.container .right .icon-list .icon a {
  color: var(--font-colour);
  text-decoration: none;
}

.slogan {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
}

@media all and (max-width: 800px) {
  .slogan {
    margin-left: auto;
  }
}

.twitter::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
}

.facebook::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09a";
}

.instagram::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
}

.github::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09b";
}

.stackoverflow::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16c";
}

.youtube::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f167";
}

.medium::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f23a";
}

.linkedin::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f08c";
}
